<% include partials/header.ejs %>
<link href="/stylesheets/landing.css" rel="stylesheet">
    <header class="py-5 bg-image-full" style="background-image: url('https://images.pexels.com/photos/1166657/pexels-photo-1166657.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
      <img class="img-fluid d-block mx-auto" style="width:180px;height:180px;border-radius:50%;opacity:0.9;"src="https://teachmeuk.co.uk/wp-content/uploads/2017/10/teach-me-facebook-cover.png" alt="">
    </header>
    <section class="py-5">
      <div class="container wow fadeIn delay-2 text-center">
        <h1 class="mb-4">About Us</h1>
        <p class="lead">Seek out answers to all your questions or help someone with theirs.</p>
        <p>This application is to help students with their doubts and help them interact
        with their teachers , provide study materials , chat with other users (coming soon) , engage in group discussions and much more!
        </p>
        <% if(!currentUser){ %>
        <p>Get on board with us today!</p>
        <a href="/signup" class="btn btn-success btn-sm">Join Us</a>
        <% } %>
      </div>
    </section>
    <section class="team container">
      <h1 class="text-center">Our Team</h1>
      <div class="card-deck mt-4">
          <div class="card border-info text-center wow fadeIn delay-1" style="width: 17rem">
          <img class="card-img-top" src="https://imgur.com/VSSXdqb.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Sushant Gupta</h5>
            <p class="card-text">Back-End Developer</p>
            <a href="/profile/sushant" class="btn btn-primary">Show Profile</a>
          </div>
        </div>
          <div class="card border-info text-center wow fadeIn delay-2" style="width: 17rem;">
            <img class="card-img-top" src="https://imgur.com/wRiDdmA.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Satyabrata Pal</h5>
              <p class="card-text">Front-End Developer</p>
              <a href="/profile/satya" class="btn btn-primary">Show Profile</a>
            </div>
        </div>
          <div class="card border-info text-center  wow fadeIn delay-3"  style="width: 17rem;">
          <img class="card-img-top" src="https://imgur.com/64ZhPtF.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Nibedita Priyadarshini</h5>
            <p class="card-text">Front-End Designer</p>
            <a href="/profile/nibedita" class="btn btn-primary">Show Profile</a>
          </div>
        </div>
          <div class="card border-info text-center wow fadeIn delay-4" style="width: 17rem;">
          <img class="card-img-top" src="https://imgur.com/edxMobs.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Abhishek Das</h5>
            <p class="card-text">Front-End Designer</p>
            <a href="/profile/abhishek" class="btn btn-primary">Show Profile</a>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container mx-auto">
            <form action="mailto:imsushant25@gmail.com" method="POST" enctype="text/plain">
                <h1>Contact us</h1>
                <div class="form-group row">
                    <label for="name" class="col-sm-1 col-form-label">Name</label>
                    <input id="name" name="name" placeholder="Name" type="text" class="form-control col-md-3 col-sm-3 col-xs-3">
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-1 col-form-label">Email</label>
                    <input id="email" name="email" placeholder="E-mail" type="email" class="form-control col-md-3 col-sm-3 col-xs-3">
                </div>
                <div class="form-group row">
                    <input  name="contact" value="Contact us" type="submit" class="btn btn-success btn-sm">
                </div>
        </form>
       </div>
    </section>
    
<% include partials/footer.ejs %>
