body{
  background: #fefefe;
}
h1{
  color:#0A79DF;
  font-family: 'Lato', sans-serif;
}
hr{
  width:5em;
  margin:0 auto;
  border:2px solid #00CCCD;
}
p{
  font-family: 'Raleway', sans-serif;
}
.logo{
  width:100%;
}
.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.team img{
  width:100%;
  height:14em;
}
.delay-1{
  animation-delay: 0.25s;
}
.delay-2{
  animation-delay: 0.5s;
}
.delay-3{
  animation-delay: 0.75s;
}
.delay-4{
  animation-delay: 1s;
}
